@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  --foreground-rgb: rgb(51, 51, 51);
  --background-start-rgb: rgb(255, 255, 255);
  --background-end-rgb: rgb(255, 255, 255);
  --header-height: 5.5rem;
  --width-page: 6%
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --foreground-rgb: rgb(148, 163, 184);
    --background-start-rgb: rgb(22, 31, 44);
    --background-end-rgb: rgb(22, 31, 44);
  }
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom,
      transparent,
      var(--background-end-rgb)) var(--background-start-rgb);
}

select {
  background-color: transparent;
  color: currentColor;
  outline: 2px solid transparent;
  outline-offset: 2px;

}

option {
  background-color: var(--background-start-rgb);
}